@model IEnumerable<GemStore.Models.ItemMst>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create new", "Create",null, new { @class = "btn btn-warning" })
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Thumbnails)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MRP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SalePrice)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thumbnails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MRP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SalePrice)
                        </td>

                        <td style="width:400px">
                            @{
                                if (item.Thumbnails == null)
                                {
                                    <div>
                                        @item.Thumbnails
                                    </div>
                                }
                                else
                                {
                                    string actionList = item.Thumbnails;
                                    string[] aListItems = actionList.Split(',');
                                    foreach (string abcd in aListItems)
                                    {
                                        <span style="border-radius:50px;margin:5px">
                                            <img style="border-radius:20px" src="@abcd" width="100px" />
                                        </span>
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a href="/Admin/CatMsts/Edit/@item.StyleCode"><i class="fas fa-pen-fancy"></i></a> |
                            <a href="/Admin/CatMsts/Details/@item.StyleCode"><i class="fas fa-search-plus"></i></a> |
                            <a href="/Admin/CatMsts/Delete/@item.StyleCode"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>