@model IEnumerable<GemStore.Models.BrandMst>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <input type="text" id="inputData" name="name" value="" />
</div>
<br />
<div>
    <input type="number" id="x" name="name" value="" />
    <input type="number" name="name" value="" />
    <button id="onClick">Click</button>
</div>
<br />
<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrandType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="newId">
            <td id="myId">
                @Html.DisplayFor(modelItem => item.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandType)
            </td>
            <td>
                @Html.ActionLink("Edit ", "Edit", new { id = item.BrandId }, new { @class = "fas fa-edit" }) |
                @Html.ActionLink("Details ", "Details", new { id = item.BrandId }, new { @class = "fas fa-search-plus" }) |
                @Html.ActionLink("Delete ", "Delete", new { id = item.BrandId }, new { @class = "fas fa-trash-alt delete" })
            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $("#inputData").on("keyup", function () {
            var value = $(this).val().toLocaleLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            })
        })

        /* var data = [$("#newId td").text()];
         console.log(data);*/



        for (var i = 0; i < $("#newId #myId").length; i++) {
            /* var array = [];
             var abc = $("#newId td").text();
             array.add(abc[i])*/
            $("#onClick").click(function () {
                var array = [];
                var abc = $("#newId td").text();
                array.push(abc)
                /* var x = parseInt($("#x").val()) + 0;*/
                console.log(array)
            })
        }

    });
</script>



