@model IEnumerable<GemStore.Models.ItemMst>
@{
    ViewBag.Title = "Index";
}
<div id="UpdateContentDiv">
    @*Div to update content after Ajax Call*@
</div>
@Ajax.ActionLink(
    "List All Schools", // <-- Text to display
    "Test01",// <-- Action/Method Name
    new {name = "stone"},//<!-- Controller Name
    new AjaxOptions
    {
        UpdateTargetId = "UpdateContentDiv", // <-- DOM element ID to update
        InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
        HttpMethod = "GET", // <-- HTTP method
        LoadingElementId = "divLoading", //Id of Loading GIF Image
        //OnBegin = "onAjaxBegin", //OnBegin JS Function
        //OnComplete = "onAjaxComplete" //OnComplete JS Function
    },
    new { @class = "btn btn-primary" } //-- Class
    )
<h2>Index</h2>
<hr />
<div class="shop-products">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-3 fix">
            <div class="product-item fix">
                <div class="product-img-hover">
                    <!-- Product image -->
                    <a href="product-details.html" class="pro-image fix">
                        <div style="background-image: url(@item.Thumbnails.Split(',')[0]); width: 270px; height: 246px; background-size: contain; background-position: center"></div>
                    </a>
                    <!-- Product action Btn -->
                    <div class="product-action-btn">
                        <a class="quick-view" href="@Url.Action("ProductDetails", "Cart", new { id=item.StyleCode})"><i class="fa fa-search"></i></a>
                        <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                        <a class="add-cart" href="javascript:void(0)" data-id="@item.StyleCode" data-price="@item.SalePrice" data-name="@item.Name" data-thumbnail="@item.Thumbnails.Split(',')[0]"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="pro-name-price-ratting">
                    <!-- Product Name -->
                    <div class="pro-name">
                        <a href="product-details.html">@item.Name</a>
                    </div>
                    <!-- Product Ratting -->
                    <div class="pro-ratting">
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star-half-o"></i>
                    </div>
                    <!-- Product Price -->
                    <div class="pro-price fix">
                        <p><span class="old">$@item.MRP</span><span class="new">$@item.SalePrice</span></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<button id="pay">Thanh toan</button>
@section scripts
{
    <script type="text/javascript">
        $(document).on('click', '.add-cart', function () {
            var shoppingCart = {};
            if (localStorage.getItem('shopping-cart') !== null) {
                shoppingCart = JSON.parse(localStorage.getItem('shopping-cart'));
            }
            var id = $(this).attr('data-id');
            var price = $(this).attr('data-price');
            var name = $(this).attr('data-name');
            var thumbnail = $(this).attr('data-thumbnail');
            var cartItem = {
                'id': id,
                'name': name,
                'UnitPrice': price,
                'thumbnail': thumbnail,
                'quantity': 1
            };
            if (shoppingCart[id] != null) {
                var existCartItem = shoppingCart[id];
                cartItem = existCartItem;
                cartItem.quantity++;
            }
            shoppingCart[id] = cartItem;
            localStorage.setItem('shopping-cart', JSON.stringify(shoppingCart));
        });

        $('#pay').click(function () {
            $.ajax({
                url: "/Cart/CreateOrder",
                type: "POST",
                data: {
                    //__RequestVerificationToken: token,
                    'cart': localStorage.getItem('shopping-cart')
                },
                success: function (data) {
                    alert("Delete success!");
                    localStorage.clear();
                },
                error: function (error) {
                    alert("Action fails! Please try again!");
                }
            });
        });
                //$('.btn-delete-student').click(function () {
                //    var id = $(this).attr("id").replace("delete-", "");
                //    if (confirm("Are you sure want to delete this student?")) {
                //        var token = $('input[name="__RequestVerificationToken"]').val();;
                //        $.ajax({
                //            url: "/Students/Delete/" + id,
                //            type: "POST",
                //            data: {
                //                __RequestVerificationToken: token
                //            },
                //            success: function (data) {
                //                alert("Delete success!");
                //                window.location.reload();
                //            },
                //            error: function (error) {
                //                alert("Action fails! Please try again!");
                //            }
                //        });
                //    }
                //    return false;
                //});
    </script>
}
