@model GemStore.Models.ItemMst

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

<div>
    <h4>ItemMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrandMst.BrandType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandMst.BrandType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatMst.CatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatMst.CatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertifyMst.CertifyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertifyMst.CertifyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DimMst.DimQltyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DimMst.DimQltyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldKrt.GoldCrt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldKrt.GoldCrt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JewelTypeMst.JewelleryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JewelTypeMst.JewelleryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdMst.ProdType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdMst.ProdType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoneMst.StoneQltyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoneMst.StoneQltyMst.StoneQlty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pairs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoneWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoneWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetGold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetGold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WstgPer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WstgPer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotGrossWt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotGrossWt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoldMaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoldMaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoneMaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoneMaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherMaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherMaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotMaking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotMaking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StyleCode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
