@model IEnumerable<GemStore.Models.DimQltySubMst>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-warning" })
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">DIAMOND QUANLITY SUB</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DimQlty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DimSubThumbnail)
                        </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DimQlty)
                        </td>
                        <td style="width:400px">
                            @{
                                if (item.DimSubThumbnail == null)
                                {
                                    <div>
                                        @item.DimSubThumbnail
                                    </div>
                                }
                                else
                                {
                                    string actionList = item.DimSubThumbnail;
                                    string[] aListItems = actionList.Split(',');
                                    foreach (string abcd in aListItems)
                                    {
                                        <span style="border-radius:50px;margin:5px">
                                            <img style="border-radius:20px" src="@abcd" width="100px" />
                                        </span>
                                    }
                                }
                            }
                        </td>
                        <td>
                            <a href="/Admin/DimQltySubMsts/Edit/@item.DimSubTypeId"><i class="fas fa-pen-fancy"></i></a> |
                            <a href="/Admin/DimQltySubMsts/Details/@item.DimSubTypeId"><i class="fas fa-search-plus"></i></a> |
                            <a href="/Admin/DimQltySubMsts/Delete/@item.DimSubTypeId"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>