@using GemStore.Models
@model GemStore.Models.ItemMst
@{
    ViewBag.Title = "ProductDetail";
    var list = ViewBag.RelationItems as List<ItemMst>;
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Product Details</h2>
    </div>
</div><!--End Title-->
<section class="product-page page fix">
    <!--Start Product Details Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="details-pro-tab">
                    <!-- Tab panes -->
                    <div class="tab-content details-pro-tab-content">

                        @for (int i = 0; i < Model.Thumbnails.Split(',').Length; ++i)
                        {
                            if (i == 0)
                            {
                                <div class="tab-pane fade in active" id="image-@i">
                                    <div class="simpleLens-big-image-container">
                                        <a class="simpleLens-lens-image" data-lens-image="@Model.Thumbnails.Split(',')[i]">
                                            <img src="@Model.Thumbnails.Split(',')[i]" alt="" class="simpleLens-big-image">
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="tab-pane fade" id="image-@i">
                                    <div class="simpleLens-big-image-container">
                                        <a class="simpleLens-lens-image" data-lens-image="@Model.Thumbnails.Split(',')[i]">
                                            <img src="@Model.Thumbnails.Split(',')[i]" alt="" class="simpleLens-big-image">
                                        </a>
                                    </div>
                                </div>
                            }


                        }

                    </div>
                    <!-- Nav tabs -->
                    <ul class="tabs-list details-pro-tab-list" role="tablist">
                        @for (int i = 0; i < Model.Thumbnails.Split(',').Length; ++i)
                        {
                            if (i == 0)
                            {
                                <li class="active"><a href="#image-@i" data-toggle="tab"><img src="@Model.Thumbnails.Split(',')[i]" alt="" /></a></li>
                            }
                            else
                            {
                                <li><a href="#image-@i" data-toggle="tab"><img src="@Model.Thumbnails.Split(',')[i]" alt="" /></a></li>
                            }


                        }
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shop-details">
                    <!-- Product Name -->
                    <h2>@Model.Name</h2>
                    <!-- Product Ratting -->
                    <div class="pro-ratting">
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star"></i>
                        <i class="on fa fa-star-half-o"></i>
                    </div>
                    <h3><span>$@Model.MRP</span>$@Model.SalePrice</h3>
                    <h4>10 Reviews</h4>
                    <h5>Availability - <span>In Stock</span></h5>
                    <h6>QUICK OVERVIEW</h6>
                    <p>Gold Amount per item: @Model.GoldAmt</p>
                    <p>Gold Weight: @Model.GoldWt (g)</p>
                    <p>Gold Making: @Model.GoldMaking (%)</p>
                    <p>Stone Making: @Model.StoneMaking (%)</p>
                    <div class="select-menu fix">
                        <div class="sort fix">
                            <h4>SIZE</h4>
                            <select>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                        </div>
                        <div class="sort fix">
                            <h4>Color</h4>
                            <select>
                                <option value="pink">pink</option>
                                <option value="red">red</option>
                                <option value="blue">blue</option>
                            </select>
                        </div>
                        <div class="sort fix">
                            <h4>Qty</h4>
                            <select name="selector">
                                <option value="1" selected="">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                    </div>
                    <div class="review">
                        <textarea rows="4" placeholder="Write Your Review..."></textarea>
                    </div>
                    <div class="action-btn">
                        <a id="add-cart" href="javascript:void(0)" data-id="@Model.StyleCode"><i class="fa fa-shopping-cart"></i></a>
                        <a href="#"><i class="fa fa-heart-o"></i></a>
                        <a href="#"><i class="fa fa-refresh"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 fix">
                <div class="description">
                    <!-- Nav tabs -->
                    <ul class="nav product-nav">
                        <li class="active"><a data-toggle="tab" href="#description">DESCRIPTION</a></li>
                        <li class=""><a data-toggle="tab" href="#review">REVIEWS</a></li>
                        <li class=""><a data-toggle="tab" href="#tags">PRODUCTS TAGS</a></li>
                        <li class=""><a data-toggle="tab" href="#custom-tags">CUSTOM TABS</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade active in" role="tabpanel">
                            <ul>
                                @if (Model.BrandMst != null)
                                {
                                    <li>Brand: @Model.BrandMst.BrandType</li>
                                }
                                @if (Model.CertifyMst != null)
                                {
                                    <li>CertifyType: @Model.CertifyMst.CertifyType</li>
                                }
                                @if (Model.JewelTypeMst != null)
                                {
                                    <li>JewelleryType: @Model.JewelTypeMst.JewelleryType</li>
                                }
                                @if (Model.GoldKrt != null)
                                {
                                    <li>Gold Quality: @Model.GoldKrt.GoldCrt</li>
                                }
                                @if (Model.DimMst != null)
                                {
                                    <li>Diamond Quality: @Model.DimMst.DimCrt</li>
                                }
                                @if (Model.StoneMst != null)
                                {
                                    <li>Stone Quality: @Model.StoneMst.StoneCrt</li>
                                }
                            </ul>
                        </div>
                        <div id="review" class="tab-pane fade" role="tabpanel">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco aboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepte.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc.</p>
                        </div>
                        <div id="tags" class="tab-pane fade" role="tabpanel">
                            <a href="#">JEWELRY</a><a href="#">Necklaces</a><a href="#">Jewelry Sets</a><a href="#">Churi</a>
                        </div>
                        <div id="custom-tags" class="tab-pane fade" role="tabpanel">
                            <a href="#">JEWELRY</a><a href="#">Necklaces</a><a href="#">Jewelry Sets</a><a href="#">Churi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 fix">
                <div class="section-title">
                    <h2>RELATEDE PRODUCT</h2>
                    <div class="underline"></div>
                </div>
                <div class="related-pro-slider owl-carousel">
                    @foreach (var item in list)
                    {
                        <div class="product-item fix">
                            <div class="product-img-hover">
                                <!-- Product image -->
                                <a href="@Url.Action("ProductDetail", new {id = item.StyleCode})" class="pro-image fix">
                                    <div style=" background: white; background-clip: border-box;  ">
                                        <div style="background-image:url('@item.Thumbnails.Split(',')[0]'); height:246px; width:270px; background-repeat: no-repeat; background-size:contain;  background-position: center;">
                                        </div>
                                    </div>
                                </a>
                                <!-- Product action Btn -->
                                <div class="product-action-btn">
                                    <a class="quick-view" href="@Url.Action("ProductDetail", new {id = item.StyleCode})"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="add-cart" href="javascript:void(0)" data-id="@item.StyleCode" data-price="@item.SalePrice" data-name="@item.Name" data-thumbnail="@item.Thumbnails.Split(',')[0]"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                            <div class="pro-name-price-ratting">
                                <!-- Product Name -->
                                <div class="pro-name">
                                    <a href="@Url.Action("ProductDetail", new {id = item.StyleCode})">@item.Name</a>
                                </div>
                                <!-- Product Ratting -->
                                <div class="pro-ratting">
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star"></i>
                                    <i class="on fa fa-star-half-o"></i>
                                </div>
                                <!-- Product Price -->
                                <div class="pro-price fix">
                                    <p><span class="old">$@item.MRP</span><span class="new">$@item.SalePrice</span></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section><!--End Product Details Area-->
@using (Ajax.BeginForm("AddCart", "Cart", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "cart-modal", OnSuccess = "addCartSuccess()" }, new { id = "formAddCart" }))
{
    <input type="text" name="productId" class="hidden" />
    <input type="number" name="quantity" class="hidden" />
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#add-cart").click(function () {
                var quantity = $('select[name=selector] option').filter(':selected').val();
                $('input[name="productId"]').val($(this).attr('data-id'));
                $('input[name="quantity"]').val(quantity);
                $('#formAddCart').submit();
            });
            $(".add-cart").click(function () {
                $('input[name="productId"]').val($(this).attr('data-id'));
                $('input[name="quantity"]').val(1);
                $('#formAddCart').submit();
            });
        });
        function addCartSuccess() {
            alertify.set('notifier','position', 'top-right');
            alertify.success('Add to cart success!');
        }
    </script>
}
