@model IEnumerable<GemStore.Models.ItemMst>
@{
    ViewBag.Title = "Shop";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Shop List</h2>
    </div>
</div><!--End Title-->
<!-- Shop Product Area Start -->
<div class="shop-product-area section fix">
    <div class="container">
        <div class="row">
            @using (Ajax.BeginForm("FilterShop", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "shop-products" }))
            {
            <div class="col-md-3">
                <div class="shop-sidebar fix">
                    <!-- single-sidebar start -->
                    <div class="sin-shop-sidebar">
                        <div class="panel-group" id="checkout-progress">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#checkout-method" aria-expanded="false">Brand</a>
                                </div>
                                <div id="checkout-method" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var brand in ViewBag.BrandMsts)
                                            {
                                            <li><a href="javascript:void(0)"><input type="checkbox" value="@brand.BrandId" name="BrandIds[]" onchange="$(this.form).submit();" />@brand.BrandType</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#bill-info" aria-expanded="false">Category</a>
                                </div>
                                <div id="bill-info" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var cat in ViewBag.CatMsts)
                                            {
                                                <li><a href="javascript:void(0)"><input type="checkbox" value="@cat.CatId" name="CatIds[]" onchange="$(this.form).submit();"/>@cat.CatName</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#shipping-info" aria-expanded="false"><span>3</span>Product Type</a>
                                </div>
                                <div id="shipping-info" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var prod in ViewBag.ProdMsts)
                                            {
                                                <li><a href="javascript:void(0)"><input type="checkbox" value="@prod.ProdId" name="ProdIds[]" onchange="$(this.form).submit();" />@prod.ProdType</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#shipping-method" aria-expanded="false">Jewellery Type</a>
                                </div>
                                <div id="shipping-method" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <ul>
                                            @foreach (var jewel in ViewBag.JewelTypeMsts)
                                            {
                                                <li><a href="javascript:void(0)"><input type="checkbox" value="@jewel.JewelleryId" name="JewelIds[]" onchange="$(this.form).submit();" />@jewel.JewelleryType</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#checkout-progress" href="#payment-met" aria-expanded="false"><span>5</span>PAYMENT INFORMATION</a>
                                </div>
                                <div id="payment-met" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="active" data-toggle="collapse" data-parent="#checkout-progress" href="#order-review" aria-expanded="true"><span>6</span>ORDER REVIEW</a>
                                </div>
                                <div id="order-review" class="panel-collapse collapse in" aria-expanded="true" style="">
                                    <div class="panel-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- single-sidebar end -->
                </div>
            </div>
            }
            <div class="col-md-9">
                <div class="row">
                    <!-- Shop Tool Bar -->
                    <div class="shop-tool-bar col-sm-12 fix">
                        <div class="view-mode">
                            <a href="/Home/Shop_List"><i class="fa fa-th"></i></a>
                            <a href="/Home/Shop_list_1" class="active"><i class="fa fa-th-list"></i></a>
                        </div>
                        <div class="sort-by">
                            <span>Sort By</span>
                            <select name="sort-by">
                                <option selected="selected" value="mercede">price: Lower</option>
                                <option value="saab">price(low&gt;high)</option>
                                <option value="mercedes">price(high &gt; low)</option>
                                <option value="audi">rating(highest)</option>
                            </select>
                        </div>
                        <div class="show-product">
                            <span>Show</span>
                            <select name="sort-by">
                                <option selected="selected" value="mercede">16</option>
                                <option value="saab">20</option>
                                <option value="mercedes">24</option>
                            </select>
                            <span>Per Page</span>
                        </div>
                        <div class="pro-Showing">
                            <span>Showing 1 - 12 of 16 items</span>
                        </div>
                    </div>
                    <div id="shop-products" class="shop-products">
                        @Html.Partial("_ShopPartial", Model)
                    </div>
                    <div class="shop-products">
                        <!-- Single Product -->
                        <div class="single-list-product col-sm-12">
                            <div class="list-pro-image">
                                <a href="product-details.html">
                                    <img src="~/Content/user/img/product/1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="list-pro-des fix">
                                <a class="pro-name" href="product-details.html">Product Name Demo</a>
                                <div class="pro-ratting">
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star on"></i>
                                    <i class="fa fa-star-half-o on"></i>
                                </div>
                                <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
                                <div class="list-actions-btn">
                                    <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
                                    <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
                                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="pagination">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li><a href="#">8</a></li>
                                <li><a href="#">9</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- Shop Product Area End -->
@*@section scripts
    {
            <script type="text/javascript">
                $('input[name="BrandIds[]"]').change(function () {
                    console.log($(this).val());
                $(this.form).submit();

            });
            </script>
        }*@