@using GemStore.Models
@model IEnumerable<GemStore.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.OrderId">
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @switch (item.Status)
                {
                    case (int)Order.OrderStatus.Pending:
                        <a href="javascript:void(0)">Pending <i class="fa fa-angle-down"></i></a>
                        <ul>
                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Chuyen sang confirm nhé?" data-ajax-success="confirmOrder($(this))" data-ajax-update="" href="/Admin/Orders/ChangeStatus?id=@item.OrderId&status=4">Confirmed</a></li>
                            <li><a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Cancel khong?" data-ajax-mode="" data-ajax-complete="cancelOrder($(this))" data-ajax-update="" href="/Admin/Orders/ChangeStatus?id=@item.OrderId&status=0">Cancel</a></li>
                        </ul>
                        break;
                    case (int)Order.OrderStatus.Confirmed:
                        <a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Chuyen sang shipping nhé?" data-ajax-success="shippingOrder($(this))" data-ajax-update="" href="/Cart/ChangeStatus?id=@item.OrderId&status=3">Confirmed</a>
                        break;
                    case (int)Order.OrderStatus.Shipping:
                        <a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Chuyen sang done nhé?" data-ajax-success="doneOrder($(this))" data-ajax-update="" href="/Cart/ChangeStatus?id=@item.OrderId&status=1">Shipping</a>
                        break;
                    case (int)Order.OrderStatus.Done:
                        <a href="javascript:void(0)">Done</a>
                        break;
                    case (int)Order.OrderStatus.Cancel:
                        <a href="javascript:void(0)">Cancel</a>
                        break;
                    default: break;
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
@section Scripts{
    <script type="text/javascript">
        function confirmOrder(para) {
            var id = para.closest('tr').attr('id');
            para.closest('td').html('<a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Chuyen sang shipping nhé?" data-ajax-success="shippingOrder($(this))" data-ajax-update="" href="/Cart/ChangeStatus?id=' + id + '&status=3">Confirmed</a>');
        }
        function cancelOrder(para) {
            para.closest('td').html('<a href="javascript:void(0)">Cancel</a>');
        }
        function shippingOrder(para) {
            var id = para.closest('tr').attr('id');
            para.closest('td').html('<a data-ajax="true" data-ajax-method="POST" data-ajax-confirm="Chuyen sang done nhé?" data-ajax-success="doneOrder($(this))" data-ajax-update="" href="/Cart/ChangeStatus?id=' + id + '&status=1">Shipping</a>');
        }
        function doneOrder(para) {
            para.closest('td').html('<a href="javascript:void(0)">Done</a>');
        }
        function confirmAction() {
            alert(1)
            //swal({
            //        title: "Are You Sure?",
            //        text: "Are you sure to go ahead with this change?",
            //        type: "warning",
            //        showCancelButton: true,
            //        confirmButtonColor: "#DD6B55",
            //        confirmButtonText: "Yes",
            //        cancelButtonText: "No",
            //        closeOnConfirm: true,
            //        closeOnCancel: true,
            //    },
            //    function(isConfirm){
            //        if (isConfirm) {
                        
            //        }
            //    }
            //);
        }
    </script>
}