@model GemStore.Models.CatMst

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CatMst</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CatId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CatName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="file" class="cloudinary_fileupload" multiple>
                <div class="gallery"></div>
                <input type="text" name="CatThumbnail" id="CatThumbnail" class="hidden" />
                @*<div id="image"></div>*@
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CatThumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="CatThumbnail" id="CatThumbnail" class=""/>
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            var cloudName = 'dt4q05shz';
            var unsignedUploadPreset = 'lo2vdc6g';
            var a = '';

            $.cloudinary.config({
                cloud_name: cloudName
            });

            $('.cloudinary_fileupload').unsigned_cloudinary_upload(unsignedUploadPreset, {
                cloud_name: cloudName,
                tags: 'browser_uploads'
            }, {
                multiple: true
            }).bind('cloudinarydone', function (e, data) {
                var image = $.cloudinary.image(
                    data.result.public_id, {
                        secure: true,
                        width: 150,
                        crop: 'scale'
                    });
                $('.gallery').prepend(image);
                var x = data.result.public_id;
                a = a + x + ", ";
                a = a.substr(0, a.length - 2);
                console.log(a);
                /* console.log("https://res.cloudinary.com/dt4q05shz/image/upload/v1583943665/" + x + ".jpg")*/
                /*$("#addLi").append("<li>" + "<input type="text" name="CatThumbnail" id="CatThumbnail"/>" + "</li>")*/
                //$("#CatThumbnail").val("https://res.cloudinary.com/dt4q05shz/image/upload/v1583943665/" + x + ".jpg");
                $("#CatThumbnail").val(a);
                console.log("lan" + $("#CatThumbnail").val());
            });
            
            
            console.log("cuoi cung" + $("#CatThumbnail").val());
            
        })
    </script>
}
