@model IEnumerable<GemStore.Models.CatMst>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid">

    <!-- Page Heading -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CatName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CatThumbnail)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CatName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CatThumbnail)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CatName)
                                </td>
                                <td class="text-center">
                                    <img src="@Html.DisplayFor(modelItem => item.CatThumbnail)" width="100px" />
                                </td>
                                <td>
                                    <a href="/Admin/CatMsts/Edit/@item.CatId"><i class="fas fa-pen-fancy"></i></a> |
                                    <a href="/Admin/CatMsts/Details/@item.CatId"><i class="fas fa-search-plus"></i></a> |
                                    <a href="/Admin/CatMsts/Delete/@item.CatId"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
